body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.gap{
    gap: 25px;
}
.align{
    align-items: center;
    justify-content: center;
}
.fire{
    height: 20px;
    width: 20px;
}
.margin{
    margin: auto;
    width: 98%;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}
nav{
    position: relative;
}
.nav{
    height: 100px;
    background-color: black;
    
}
.top-nav{
    border-bottom: 2px solid white;
    gap: 70px;
}
.item1-0 p{
    font-size: 13px;
color: white;
display: flex;
align-items: center;
justify-content: end;
text-decoration: underline;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item1-0 p:hover{
    text-decoration: none;
}
.imgg1{
    height: 30px;
    width: 30px;
}
.items a{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.items a:hover{
    border-bottom: 2px solid white;
    
    transition: .6s ease-in-out;
}
.items{
    color: white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.items li{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.low-nav{
  padding: 10px 10px;
  gap: 130px;
}
.imgg2{
    
}
.lownav-item{
    color: white;
    text-decoration: none;
    list-style: none;
    
}
.lownav-item a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lownav-item li{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lownav-item li:hover{
    border-bottom: 2px solid white;
    
    transition: .6s ease-in-out;
}
.search input{
    background-color: transparent;
    border: none;
    border-bottom: .1px solid white;
}



/* footerbegin */
footer{
    background-color: #F0F0F0;
}
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}