body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.gap{
    gap: 25px;
}
.align{
    align-items: center;
    justify-content: center;
}
.fire{
    height: 20px;
    width: 20px;
}
.margin{
    margin: auto;
    width: 98%;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}
nav{
    position: relative;
}
.nav{
    height: 100px;
    background-color: black;
    
}
.top-nav{
    border-bottom: 2px solid white;
    gap: 70px;
}
.item1-0 p{
    font-size: 13px;
color: white;
display: flex;
align-items: center;
justify-content: end;
text-decoration: underline;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item1-0 p:hover{
    text-decoration: none;
}
.imgg1{
    height: 30px;
    width: 30px;
}
.items a{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.items a:hover{
    border-bottom: 2px solid white;
    
    transition: .6s ease-in-out;
}
.items{
    color: white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.items li{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.low-nav{
  padding: 10px 10px;
  gap: 130px;
}
.lownav-item{
    color: white;
    text-decoration: none;
    list-style: none;
    
}
.lownav-item a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lownav-item li{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lownav-item li:hover{
    border-bottom: 2px solid white;
    
    transition: .6s ease-in-out;
}
.search input{
    background-color: transparent;
    border: none;
    border-bottom: .1px solid white;
}



/* footerbegin */
@font-face {
    font-family: stay;
    src: url('../fonts/5b54d1e4ceb3d073-s.p.woff2');
}
@font-face {
    font-family: stay1;
    src: url('../fonts/57a58111cb82560b-s.p.woff2');
}
footer{
     background-color: #F0F0F0;
}
.footer{
    background-color: #F0F0F0;
    height: 700px;
     margin: auto;
    width: 97%;
}
.foot{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
   
    gap: 50px;
    padding: 48px ;
}
.footer-1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
}
.footer-1 h3{
margin: 16px 0;
color: #1D1D1D;
font-weight: 600;
font-family: stay;
font-size: 16px;
}
.stay{
    gap: 10px;
}
.stay input{
width: 260px;
height: 45px;
border-radius: 5px;
border: .8px solid black;
padding: 0 11px;
font-family: stay;
font-size: 16px;
background-color: transparent;
}
.stay button{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 0 11px;
    font-family: stay;
    font-size: 16px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    }
    .foot span{
        margin: 10px 0 0;
        color: #5F5F5F;
        font-weight: normal;
        font-family: stay;
        font-size: 10px;
        }
        .foot a{
            color: #5F5F5F;
        }
.under{
    margin: 20px 0;
    gap: 10px;
    height: 40px;
}
.und{
    height: 9px;
}
.loow p{
font-size: 12px;
 color: #1D1D1D;
 font-family: stay;
}
.loowe{
    gap: 10px;
}
.loowe li{
list-style: none;
text-decoration: none;

}
.low{
    height: 40px;
}


.copy{
    color: #5F5F5F;
    font-size: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.copy a{
    color: #5F5F5F;
}
.head{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.head h2{
font-size: 12px;
font-family: stay;
margin: 0 0 24px;

}
.head a{
    text-decoration: none;
    font-size: 12px;
    font-family: stay;
    color: #1D1D1D;
}
.head a:hover{
   border-bottom: 2px solid black;
}